<div class= "container_edit">
  <div class= "form_edit">
    <h1>edit</h1>
    <%= simple_form_for(@offer) do |f| %>
      <%= f.input :title %>
      <%= f.input :disponibility %>
      <%= f.input :description %>
      <%= f.input :localisation %>
      <%= f.submit %>
  <%= link_to  "Back to dashboard", dashboard_path %>
    <% end %>
  </div>
</div>