<div class="container">
  <h1>Edit your offer</h1>
        <div class="search-form-control form-group">
          <%= simple_form_for(@offer) do |f| %>
            <%= f.input :title %>
            <%= f.input :disponibility, collection: ["Weekend", "Week", "Afterwork", "Every Day"] %>
            <%= f.input :description %>
            <%= f.input :localisation %>
            <%= f.input :price, label: 'Price/d'%>
            <%= f.submit class:"btn-flat", id:"update-btn"%>
          <% end %>
        </div>
</div>