<h1>Result</h1>
<div>
<% @offers.each do |offer| %>
  <div class="card-product">
    <img src='<%= cl_image_path offer.user.photo.key, height: 300, crop: :fill %>' />
    <div class="card-product-infos">
      <h2><%= offer.user.name %></h2>
      <p>localisation: <strong><%= offer.localisation %></strong></p>
      <p>disponibility: <strong><%= offer.disponibility %></strong></p>
      <%= link_to  "see this offer",offer_path(offer) %>
    </div>
  </div>
<% end %>
</div>