<div class="container">
  <h1>Offer: <%= @offer.title %></h1>
  <div class="show">
  
    <div class= "d-flex">
      <div class= "col-8">
        <div class= "ofr-desc d-flex">
          <% if @offer.user.photo.attached? %>
            <%= cl_image_tag @offer.user.photo.key, class: "offer-pic", id: "" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "offer-pic", style:"object-fit: cover"%>
          <% end %>

          <ul>
            <li><p>Name : <%= @offer.user.name %></p></li>
            <li><p>Location : <%= @offer.localisation %></p></li>
            <li><p>Height : 1,83 M</p></li>
            <li><p>Body type : Muscular</p></li>
            <li><p>Average Rating : 4,5</p></li>
            <li><p>Disponibility : <%= @offer.disponibility %></p></li>
            <li><strong><p>resemblance : 80%</p></strong></li>
          </ul>
        </div>

        <div>
          <h2>Description</h2>
            <p> <%= @offer.description %></p>
        </div>

        <div class="reviews">
          <h2>Reviews</h2>
          <div class= "reviews-cards">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Lewis_Hamilton_2016_Malaysia_2.jpg" />
            <div class= "review-card"><!-- on fera le each ici  -->
              <h2>Lewis</h2>
              <p>Awesome dont need to sign autograph anymore</p>
            </div>
          </div>
        </div>

      </div>

      
      <div class= "col-4 text-center">

        <div class="info-card">
          <h2>Informations:</h2>
           <%= simple_form_for([ @offer, @reservation ], remote: true) do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <div class="info-card-right">
            <ul>
              <p id="price-h" class="d-inline"><%= @offer.price %></p>
              <p class="d-inline">$/h</p>
              
              <%= javascript_pack_tag('_show_price_js') %>
              <li><p id="number-days"></p></li>
              <li><p id="price"></p></li>
            </ul>
            </div>
            
              <%= f.submit "Book This Doppel", class:"btn btn-flat"%>
            
          <% end %>
          
        </div>
      </div> 
    </div>
  </div>
</div>

