<div class="container">
  <h1>Offer: <%= @offer.title %></h1>
  <div class="show">
  
    <div class= "d-flex">
      <div class= "col-8">
        <div class= "ofr-desc d-flex">
          <% if @offer.user.photo.attached? %>
            <%= cl_image_tag @offer.user.photo.key, class: "offer-pic", id: "" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "offer-pic", style:"object-fit: cover"%>
          <% end %>

          <ul>
            <li><p>Name : <%= @offer.user.name %></p></li>
            <li><p>Location : <%= @offer.localisation %></p></li>
            <li><p>Height : <%= @offer.user.height %></p></li>
            <li><p>Body type : <%= @offer.user.body_type %></p></li>
            <li><p>Average Rating : <%= @rating_average %></p></li>
            <li><p>Disponibility : <%= @offer.disponibility %></p></li>
            <li><strong><p>resemblance : 80%</p></strong></li>
          </ul>
        </div>

        <div>
          <h2>Description</h2>
            <p> <%= @offer.description %></p>
        </div>

        <div class="reviews">
          <h2>Reviews</h2>
          <% if @offer.reviews.count != 0 %>
            <% @offer.reviews.first(5).each do |review| %>
              <div class= "reviews-cards">
                <% if review.reservation.user.photo.attached? %>
                  <%= cl_image_tag review.reservation.user.photo.key %>
                <% else %>
                  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier" %>
                <% end %>
                <div class= "review-card"><!-- on fera le each ici  -->
                  <h2>
                    <% if review.reservation.user.name.nil? %>
                      <%= "User unknow" %>
                    <% end %>
                    <%= review.reservation.user.name %>
                  </h2>
                  <q><%= review.content %></q>
                </div>
                <div class="rating">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <div class= "reviews-cards">
              <%= image_tag "logo.png" %>
              <div class= "review-card"><!-- on fera le each ici  -->
                <h2>This doppel have no review yet</h2>
                <p>No review Yet</p>
              </div>
            </div>
          <% end %>

        </div>

      </div>

      
      <div class= "col-4 text-center">

        <div class="info-card">
          <h2>Informations:</h2>
           <%= simple_form_for([ @offer, @reservation ], remote: true) do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %>
            <div class="info-card-right">
            <ul>
              <p id="price-h" class="d-inline"><%= @offer.price %></p>
              <p class="d-inline">$/h</p>
              
              <%= javascript_pack_tag('_show_price_js') %>
              <li><p id="number-days"></p></li>
              <li><p id="price"></p></li>
            </ul>
            </div>
            
              <%= f.submit "Book This Doppel", class:"btn btn-flat"%>
            
          <% end %>
          
        </div>
      </div> 
    </div>
  </div>
</div>

